body {
	font-family: 'Comic Sans MS';
}

.navbar-nav li{
	font-weight: bold;
	font-family: 'Comic Sans MS';
	font-size: 1.2em;
}

.line {
	margin-top: -20px;
}

.blogpost {
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	overflow: hidden;
}

#heading {
	font-weight: bold;
	color: #005E90;
}
#heading:hover {
	color: #0090DB;
}

.description {
	color: #868686;
	font-weight: bold;
	margin-top: -2px;
}
.btn-info {
	float: right;
}

#footer {
		padding: 10px;
		border-top: 1px solid black;
		color: white; 
		background-color: #211f22;
		text-align: center;
}

.imageicon {
	max-width: 150px;
	margin: 0px;
	display: block;
	max-height: 200px;
}

.background {
	background-color: #ddd;
}